{{#required}}{{#isReadOnly}}{{$yes}}{{/yes}}{{/isReadOnly}}{{^isReadOnly}}{{#isWriteOnly}}{{$yes}}{{/yes}}{{/isWriteOnly}}{{^isWriteOnly}}{{$no}}{{/no}}{{/isWriteOnly}}{{/isReadOnly}}{{/required}}{{^required}}{{$yes}}{{/yes}}{{/required}}