"{{{classname}}}", "{{{name}}}"{{#isContainer}}, new {{name}}ItemValidator({{#items}}{{>model-validator-params}}{{/items}}){{/isContainer}}{{^isContainer}}{{^isPrimitiveType}}{{#isString}}{{#pattern}}, "{{pattern}}"{{/pattern}}{{/isString}}{{#isDate}}, "/^\\d{4}-\\d{2}-\\d{2}$/"{{/isDate}}{{#isDateTime}}, "/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:.\\d+)?(?:Z|[-+]\\d{2}:\\d{2})$/"{{/isDateTime}}{{/isPrimitiveType}}{{#isPrimitiveType}}{{#isNumeric}}, {{#minimum}}new fiveg_mag_reftools::Boundary<{{name}}Type>({{minimum}}, {{#excludesMinimum}}false{{/excludesMinimum}}{{^excludesMinimum}}true{{/excludesMinimum}}){{/minimum}}{{^minimum}}nullptr{{/minimum}}{{#maximum}}, new fiveg_mag_reftools::Boundary<{{name}}Type>({{maximum}}, {{#excludesMaximum}}false{{/excludesMaximum}}{{^excludesMaximum}}true{{/excludesMaximum}}){{/maximum}}{{/isNumeric}}{{/isPrimitiveType}}{{/isContainer}}