{{classname}}::{{classname}}()
    :ModelObject(){{#vars}}
    ,m_{{name}}()
    ,m_{{name}}_validator({{>model-validator-params}}){{/vars}}
{
}

{{classname}}::{{classname}}(const {{classname}} &other)
    :ModelObject(other){{#vars}}
    ,m_{{name}}(other.m_{{name}})
    ,m_{{name}}_validator(other.m_{{name}}_validator){{/vars}}
{
}

{{classname}}::{{classname}}({{classname}} &&other)
    :ModelObject(std::move(other)){{#vars}}
    ,m_{{name}}(std::move(other.m_{{name}}))
    ,m_{{name}}_validator(std::move(other.m_{{name}}_validator)){{/vars}}
{
}

{{classname}}::{{classname}}(const std::string &json, bool as_request)
    :ModelObject(){{#vars}}
    ,m_{{name}}()
    ,m_{{name}}_validator({{>model-validator-params}}){{/vars}}
{
    CJson jtree = CJson::parse(json);
    this->fromJSON(jtree, as_request);
}

{{classname}}::{{classname}}(const CJson &json, bool as_request)
    :ModelObject(){{#vars}}
    ,m_{{name}}()
    ,m_{{name}}_validator({{>model-validator-params}}){{/vars}}
{
    this->fromJSON(json, as_request);
}

{{classname}}::~{{classname}}()
{
}

{{classname}} &{{classname}}::operator=(const {{classname}} &other)
{
{{#vars}}
    m_{{name}} = other.m_{{name}};
    m_{{name}}_validator = other.m_{{name}}_validator;{{/vars}}

    return *this;
}

{{classname}} &{{classname}}::operator=({{classname}} &&other)
{
    {{^hasVars}}{{^isEnum}}{{#composedSchemas}}{{#oneOf.0.name}}
#error "Not implemented oneOf yet!"
    {{/oneOf.0.name}}{{#anyOf.0.name}}{{^anyOf.0.isEnumRef}}{{#anyOf}}
    m_{{name}} = std::move(other.m_{{name}});
    m_{{name}}_validator = std::move(other.m_{{name}}_validator);
    {{/anyOf}}{{/anyOf.0.isEnumRef}}{{#anyOf.0.isEnumRef}}{{^anyOf.1.isString}}{{#anyOf}}
    m_{{name}} = std::move(other.m_{{name}});
    m_{{name}}_validator = std::move(other.m_{{name}}_validator);
    {{/anyOf}}{{/anyOf.1.isString}}{{#anyOf.1.isString}}{{#anyOf.2.name}}{{#anyOf}}
    m_{{name}} = std::move(other.m_{{name}});
    m_{{name}}_validator = std::move(other.m_{{name}}_validator);
    {{/anyOf}}{{/anyOf.2.name}}{{/anyOf.1.isString}}{{/anyOf.0.isEnumRef}}{{/anyOf.0.name}}{{#allOf.0.name}}{{#allOf}}
    m_{{name}} = std::move(other.m_{{name}});
    m_{{name}}_validator = std::move(other.m_{{name}}_validator);
    {{/allOf}}{{/allOf.0.name}}{{/composedSchemas}}{{/isEnum}}{{/hasVars}}{{#hasVars}}{{#vars}}
    m_{{name}} = std::move(other.m_{{name}});
    m_{{name}}_validator = std::move(other.m_{{name}}_validator);{{/vars}}{{/hasVars}}

    return *this;
}

void {{classname}}::fromJSON(const CJson &json, bool as_request)
{
{{^hasVars}}{{^isEnum}}{{#composedSchemas}}{{#oneOf.0.name}}
#error "Not implemented oneOf yet!"
    {{/oneOf.0.name}}{{#anyOf.0.name}}{{^anyOf.0.isEnumRef}}{{#anyOf}}
    {{>model-fromJSON-var}}
    {{/anyOf}}{{/anyOf.0.isEnumRef}}{{#anyOf.0.isEnumRef}}{{^anyOf.1.isString}}{{#anyOf}}
    {{>model-fromJSON-var}}
    {{/anyOf}}{{/anyOf.1.isString}}{{#anyOf.1.isString}}{{#anyOf.2.name}}{{#anyOf}}
    {{>model-fromJSON-var}}
    {{/anyOf}}{{/anyOf.2.name}}{{/anyOf.1.isString}}{{/anyOf.0.isEnumRef}}{{/anyOf.0.name}}{{#allOf.0.name}}{{#allOf}}
    {{>model-fromJSON-var}}
    {{/allOf}}{{/allOf.0.name}}{{/composedSchemas}}{{/isEnum}}{{/hasVars}}{{#hasVars}}{{#vars}}
    {{>model-fromJSON-var}}
    {{/vars}}{{/hasVars}}
}

CJson {{classname}}::toJSON(bool as_request) const
{
    CJson object = CJson::newObject();
    {{^hasVars}}{{^isEnum}}{{#composedSchemas}}{{#oneOf.0.name}}
#error "Not implemented oneOf yet!"
    {{/oneOf.0.name}}{{#anyOf.0.name}}{{^anyOf.0.isEnumRef}}{{#anyOf}}
    {{>model-toJSON-var}}
    {{/anyOf}}{{/anyOf.0.isEnumRef}}{{#anyOf.0.isEnumRef}}{{^anyOf.1.isString}}{{#anyOf}}
    {{>model-toJSON-var}}
    {{/anyOf}}{{/anyOf.1.isString}}{{#anyOf.1.isString}}{{#anyOf.2.name}}{{#anyOf}}
    {{>model-toJSON-var}}
    {{/anyOf}}{{/anyOf.2.name}}{{/anyOf.1.isString}}{{/anyOf.0.isEnumRef}}{{/anyOf.0.name}}{{#allOf.0.name}}{{#allOf}}
    {{>model-toJSON-var}}
    {{/allOf}}{{/allOf.0.name}}{{/composedSchemas}}{{/isEnum}}{{/hasVars}}{{#hasVars}}{{#vars}}
    {{>model-toJSON-var}}
    {{/vars}}{{/hasVars}}

    return object;
}

bool {{classname}}::operator==(const {{classname}} &other) const
{
{{^hasVars}}{{^isEnum}}{{#composedSchemas}}{{#oneOf.0.name}}
#error "Not implemented oneOf yet!"
{{/oneOf.0.name}}{{#anyOf.0.name}}{{^anyOf.0.isEnumRef}}{{#anyOf}}    {
        auto &a = m_{{name}};
        auto &b = other.m_{{name}};
        if ({{>model-source-object-var-not-equal}}) return false;
    }
{{/anyOf}}{{/anyOf.0.isEnumRef}}{{#anyOf.0.isEnumRef}}{{^anyOf.1.isString}}{{#anyOf}}    {
        auto &a = m_{{name}};
        auto &b = other.m_{{name}};
        if ({{>model-source-object-var-not-equal}}) return false;
    }
{{/anyOf}}{{/anyOf.1.isString}}{{#anyOf.1.isString}}{{#anyOf.2.name}}{{#anyOf}}    {
        auto &a = m_{{name}};
        auto &b = other.m_{{name}};
        if ({{>model-source-object-var-not-equal}}) return false;
    }
{{/anyOf}}{{/anyOf.2.name}}{{/anyOf.1.isString}}{{/anyOf.0.isEnumRef}}{{/anyOf.0.name}}{{#allOf.0.name}}{{#allOf}}    {
        auto &a = m_{{name}};
        auto &b = other.m_{{name}};
        if ({{>model-source-object-var-not-equal}}) return false;
    }
{{/allOf}}{{/allOf.0.name}}{{/composedSchemas}}{{/isEnum}}{{/hasVars}}{{#hasVars}}{{#vars}}    {
        auto &a = m_{{name}};
        auto &b = other.m_{{name}};
        if ({{>model-source-object-var-not-equal}}) return false;
    }
{{/vars}}{{/hasVars}}
    return true;
}

bool {{classname}}::validate() const
{
    return {{^hasVars}}{{^isEnum}}{{#composedSchemas}}{{#oneOf.0.name}}
#error "Not implemented oneOf yet!"
{{/oneOf.0.name}}{{#anyOf.0.name}}{{^anyOf.0.isEnumRef}}{{#anyOf}}m_{{name}}_validator.validate(m_{{name}}){{^-last}} && {{/-last}}{{/anyOf}}{{/anyOf.0.isEnumRef}}{{#anyOf.0.isEnumRef}}{{^anyOf.1.isString}}{{#anyOf}}m_{{name}}_validator.validate(m_{{name}}){{^-last}} && {{/-last}}{{/anyOf}}{{/anyOf.1.isString}}{{#anyOf.1.isString}}{{#anyOf.2.name}}{{#anyOf}}m_{{name}}_validator.validate(m_{{name}}){{^-last}} && {{/-last}}{{/anyOf}}{{/anyOf.2.name}}{{/anyOf.1.isString}}{{/anyOf.0.isEnumRef}}{{/anyOf.0.name}}{{#allOf.0.name}}{{#allOf}}m_{{name}}_validator.validate(m_{{name}}){{^-last}} && {{/-last}}{{/allOf}}{{/allOf.0.name}}{{/composedSchemas}}{{/isEnum}}{{/hasVars}}{{#hasVars}}{{#vars}}m_{{name}}_validator.validate(m_{{name}}){{^-last}} && {{/-last}}{{/vars}}{{/hasVars}};
}

{{classname}} *{{classname}}::newWithJSONPatches(const CJson &json) const
{
    {{classname}} *patched = new {{classname}}(*this);

    if (json.isArray()) {
        for (const auto &patch : json) {
            patched->applyJSONPatch(patch);
        }
    } else {
        patched->applyJSONPatch(json);
    }

    return patched;
}

void {{classname}}::applyJSONPatch(const CJson &json)
{
    if (!json.isObject()) throw ModelException(std::string("Runtime Error: JSON Patch not recognised: ") + json.serialise(),  "{{classname}}", std::string(), ProblemCause::INVALID_MSG_FORMAT);

    auto op_json = json.getObjectItemCaseSensitive("op");
    if (op_json.isNull()) throw ModelException(std::string("Runtime Error: JSON Patch not recognised: ") + json.serialise(),  "{{classname}}", "op", ProblemCause::INVALID_MSG_FORMAT);
    std::string op(op_json.stringValue());

    auto path_json = json.getObjectItemCaseSensitive("path");
    if (path_json.isNull()) throw ModelException(std::string("Runtime Error: JSON Patch not recognised: ") + json.serialise(),  "{{classname}}", "path", ProblemCause::INVALID_MSG_FORMAT);
    std::string path(path_json.stringValue());

    [[maybe_unused]] static const bool as_request = true; // Treat all Patch operations as though they apply to a request object

    if (path.empty()) {
        if (op == "add" || op == "replace") {
            auto value_json = json.getObjectItemCaseSensitive("value");
            if (value_json.isNull()) throw ModelException(std::string("Runtime Error: JSON Patch not recognised: ") + json.serialise(),  "{{classname}}", "value", ProblemCause::INVALID_MSG_FORMAT);
            fromJSON(value_json, true);
            validate();
            return;
        } else {
            throw ModelException(std::string("Runtime Error: JSON Patch operation ") + op + " cannot be performed",  "{{classname}}", "path", ProblemCause::SYSTEM_FAILURE);
        }
    }

{{#vars}}
    {
        std::string path_prefix("/{{baseName}}");
        if (path.starts_with(path_prefix)) {
            auto path_rest = path.substr(path_prefix.size());
            if (path_rest.empty()) {
                [[maybe_unused]] auto &patch_target = m_{{name}};
		[[maybe_unused]] typedef {{name}}Type _PropertyType;
#define _FIELD_NAME "{{baseName}}"
{{#composedSchemas}}{{#anyOf.0.name}}{{^anyOf.1.name}}{{#anyOf.0}}{{>model-source-object-patch-leaf}}{{/anyOf.0}}{{/anyOf.1.name}}{{#anyOf.1.name}}{{>model-source-object-patch-leaf}}{{/anyOf.1.name}}{{/anyOf.0.name}}{{#allOf.0.name}}{{^allOf.1.name}}{{#allOf.0}}{{>model-source-object-patch-leaf}}{{/allOf.0}}{{/allOf.1.name}}{{#allOf.1.name}}{{>model-source-object-patch-leaf}}{{/allOf.1.name}}{{/allOf.0.name}}{{#oneOf.0.name}}{{^oneOf.1.name}}{{#oneOf.0}}{{>model-source-object-patch-leaf}}{{/oneOf.0}}{{/oneOf.1.name}}{{#oneOf.1.name}}{{>model-source-object-patch-leaf}}{{/oneOf.1.name}}{{/oneOf.0.name}}{{/composedSchemas}}{{^composedSchemas}}{{>model-source-object-patch-leaf}}{{/composedSchemas}}
                m_{{name}}_validator.validate(m_{{name}});
		return;
            } else if (path_rest.starts_with("/")) {
                [[maybe_unused]] auto &patched_obj = m_{{name}};
                [[maybe_unused]] typedef {{name}}Type _PropertyType;
{{#composedSchemas}}{{#anyOf.0.name}}{{^anyOf.1.name}}{{#anyOf.0}}{{>model-source-object-patch-recurse}}{{/anyOf.0}}{{/anyOf.1.name}}{{#anyOf.1.name}}{{>model-source-object-patch-recurse}}{{/anyOf.1.name}}{{/anyOf.0.name}}{{#allOf.0.name}}{{^allOf.1.name}}{{#allOf.0}}{{>model-source-object-patch-recurse}}{{/allOf.0}}{{/allOf.1.name}}{{#allOf.1.name}}{{>model-source-object-patch-recurse}}{{/allOf.1.name}}{{/allOf.0.name}}{{#oneOf.0.name}}{{^oneOf.1.name}}{{#oneOf.0}}{{>model-source-object-patch-recurse}}{{/oneOf.0}}{{/oneOf.1.name}}{{#oneOf.1.name}}{{>model-source-object-patch-recurse}}{{/oneOf.1.name}}{{/oneOf.0.name}}{{/composedSchemas}}{{^composedSchemas}}{{>model-source-object-patch-recurse}}{{/composedSchemas}}
#undef _FIELD_NAME
		return;
            }
        }   
    }
{{/vars}}

    throw ModelException(std::string("Runtime Error: Unknown path in JSON Patch: ") + json.serialise(), "{{classname}}", "path", ProblemCause::INVALID_MSG_FORMAT);
}

{{^hasVars}}{{^isEnum}}{{#composedSchemas}}{{#oneOf.0.name}}
#error "Not implemented oneOf yet!"
{{/oneOf.0.name}}{{#anyOf.0.name}}{{^anyOf.0.isEnumRef}}{{#anyOf}}
{{>model-source-getset-fns}}
{{/anyOf}}{{/anyOf.0.isEnumRef}}{{#anyOf.0.isEnumRef}}{{^anyOf.1.isString}}{{#anyOf}}
{{>model-source-getset-fns}}
{{/anyOf}}{{/anyOf.1.isString}}{{#anyOf.1.isString}}{{#anyOf.2.name}}{{#anyOf}}
{{>model-source-getset-fns}}
{{/anyOf}}{{/anyOf.2.name}}{{/anyOf.1.isString}}{{/anyOf.0.isEnumRef}}{{/anyOf.0.name}}{{#allOf.0.name}}{{#allOf}}
{{>model-source-getset-fns}}
{{/allOf}}{{/allOf.0.name}}{{/composedSchemas}}{{/isEnum}}{{/hasVars}}{{#hasVars}}{{#vars}}
{{>model-source-getset-fns}}
{{/vars}}{{/hasVars}}
