fiveg_mag_reftools::{{#isContainer}}{{#isArray}}List{{/isArray}}{{#isMap}}Map{{/isMap}}{{/isContainer}}{{^isContainer}}{{^isPrimitiveType}}{{#isString}}String{{/isString}}{{#isDate}}String{{/isDate}}{{#isDateTime}}String{{/isDateTime}}{{#isByteArray}}Null{{/isByteArray}}{{^isString}}{{^isDate}}{{^isDateTime}}{{^isByteArray}}Model{{/isByteArray}}{{/isDateTime}}{{/isDate}}{{/isString}}{{/isPrimitiveType}}{{#isPrimitiveType}}{{#isNumeric}}Number{{/isNumeric}}{{^isNumeric}}Null{{/isNumeric}}{{/isPrimitiveType}}{{/isContainer}}Validator{{#isContainer}}<{{name}}ItemValidator>{{/isContainer}}{{^isContainer}}{{^isPrimitiveType}}{{^isString}}{{^isDate}}{{^isDateTime}}<{{$type}}{{name}}Type{{/type}}>{{/isDateTime}}{{/isDate}}{{/isString}}{{/isPrimitiveType}}{{#isPrimitiveType}}<{{$type}}{{name}}Type{{/type}}>{{/isPrimitiveType}}{{/isContainer}}