{{^isContainer}}{{^isPrimitiveType}}{{^isDate}}{{^isDateTime}}{{^isString}}{{^isByteArray}}std::shared_ptr< {{/isByteArray}}{{/isString}}{{/isDateTime}}{{/isDate}}{{/isPrimitiveType}}{{dataType}}{{/isContainer}}{{#isContainer}}{{#isMap}}std::map<std::string, {{name}}ItemType, std::less<std::string>, fiveg_mag_reftools::OgsAllocator<{{name}}ItemType> >{{/isMap}}{{#isArray}}std::list<{{name}}ItemType, fiveg_mag_reftools::OgsAllocator<{{name}}ItemType> >{{/isArray}}{{/isContainer}}{{^isContainer}}{{^isPrimitiveType}}{{^isDate}}{{^isDateTime}}{{^isString}}{{^isByteArray}} >{{/isByteArray}}{{/isString}}{{/isDateTime}}{{/isDate}}{{/isPrimitiveType}}{{/isContainer}}